mysql/data
solr/logs/*
!solr/logs/.gitkeep
solr/lib
python/model
__pycache__
*.log
python/img
python/index/*.gz
python/index/*food*.json
python/index/*illust*.json
python/index/*text_short*.json
sample
.vscode
