indies/mysql/data
commercial/mysql/data
indies/solr/logs/*
commercial/solr/logs/*
!indies/solr/logs/.gitkeep
!commercial/solr/logs/.gitkeep
indies/solr/lib
commercial/solr/lib
indies/python/model
commercial/python/model
__pycache__
*.log
indies/python/img
commercial/python/img
indies/python/index/*.gz
commercial/python/index/*.gz
indies/python/index/*food*.json
indies/python/index/*illust*.json
indies/python/index/*text_short*.json
indies/python/index/*open_images*.json
.vscode
